:root {

    --animation_speed:900s;

}

.alt-animation-back {
    display: block;
    width:100vw;
    height:100%;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    display:block;
    background-size:200px;
    background-color:black;
  }
  
  .anim_border {
    background-image:url('../../../public/images/pattern_2.png');
    position:absolute;
    background-size:30px;
  }
  
  .alt-animation-back .top {
    width: 100vw;
    height: 15%;
    top: 0;
    animation: top-animation var(--animation_speed) infinite linear;
    animation-direction: reverse;
    animation-delay: .4s;
  }
  
  
  @keyframes top-animation {
    0% {
      background-position:0vw;
    }
    100% {
      background-position:0 1000vw;
  
    }
  }
  
  
  
  .alt-animation-back .right {
    width: 10%;
    height: 100vh;
    top: 0;
    right: 0;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    animation: right-animation var(--animation_speed) infinite linear;
    animation-delay: .4s;
  }
  
  
  @keyframes right-animation {
    0% {
    background-position: 0vw;
    }
    100% {
      background-position:1000vw  0vw;
    }
  }
  
  
  
  .alt-animation-back .bottom {
    width: 100%;
    height: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 100%, 100% 100%, 92% 0, 8% 0);
    animation: bottom-animation var(--animation_speed) infinite linear;
    animation-delay: .4s;
  }
  
  
  @keyframes bottom-animation {
    0% {
      background-position:0vw;
    }
    100% {
      background-position:0vw 1000vw;
  
    }
  }
  .alt-animation-back > div {
    background-color: #21255e;
  }

  .alt-animation-back .left {
    width: 15%;
    height: 100vh;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
    animation: right-animation var(--animation_speed) infinite linear;
    animation-direction: reverse;
    animation-delay: .4s;
  }
  
  
  .center_section_left {
    position:absolute; 
    width:calc(50vw - 10vw);
    height:calc(100% - 20vh);
    background: linear-gradient(90deg, rgba(37,38,80,1) 0%, rgba(14,8,30,1) 45%);
    top:50%;
    left:0;
    transform:translate(15%, -50%);
    /* background-image:url('../../../public/images/pattern_4.png'); */
    background-size:cover;
  }

  .center_section{
    position:absolute; 
    width: calc(100vw - 10%);
    height: calc(100% - 19%);
    background: #293a8d !important;
    top: 50%;
    right: 0;
    margin: auto;
    left: 0;
    transform: translate(0, -50%);
    /* background-image:url('../../../public/images/pattern_4.png'); */
    background-size:cover;
  }

  .center_section_right:before {
    content:'';
    position:absolute; 
    left:0;
    top:0;
    width:100%;
    height:100%;
    /* background:url('../../../public/images/pattern_4.png'); */
    background-size:40px;
    animation: right-animation var(--animation_speed) infinite linear;

} 

 .center_section_left:before {
     content:'';
     position:absolute; 
     left:0;
     top:0;
     width:100%;
     height:100%;
     /* background:url('../../../public/images/pattern_4.png'); */
     background-size:40px;
     animation: right-animation var(--animation_speed) infinite linear;
     animation-direction: reverse;

 } 
  .center_circle {
      width:850px;
      height:850px;
      background:white;
      border-radius:100%;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      background:white;
      background-image:url('../../../public/images/back.png');

  }
  .center_circle:before {
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      border-radius:100%;
      background: linear-gradient(90deg, rgba(255,255,255,0.006039915966386533) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
            content:'';
  }
  .anim_border {
      animation:grow 4s forwards;
  }


  @media only screen and (max-width: 767px) {
  .alt-animation-back .top, .alt-animation-back .bottom, .alt-animation-back .right, .alt-animation-back .left {
    border-radius:0px;
    border-width: 0px;
  }

  .center_section {
    width: calc(100vw - 16vw);
    height: calc(100% - 16vh);
    border: 6px solid #152570;
  }
  
  }