@font-face {
  font-family: 'EuroStyle';
  src: local('EuroStyle'), url(./fonts/EuroStyle.ttf) format('ttf');
}

@font-face {
  font-family: 'EuroStyle';
  font-weight: 900;
  src: local('EuroStyle'), url(./fonts/EurostileBlack.ttf) format('ttf');
}
@font-face {
  font-family: 'EuroStyle';
  font-weight: 200;
  src: local('EuroStyle'), url(./fonts/EurostileLight.otf) format('opentype');
}
@font-face {
  font-family: 'EuroStyle-condensed';
  font-weight: 200;
  src: local('EuroStyle'), url(./fonts/EurostileCondensed.otf) format('opentype');
}

@keyframes blinking {
  0% {
    opacity:1;
  }
  50% {opacity:0;}
  100% {opacity:1;}
}


.social-icons {display:flex;}
.social-icons img {width:100%; max-width:40px; padding:10px;}
/* 

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #121212;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index:50;
}

html,body {
  cursor: none
}
html *,body * {
  cursor: none;
}

.c--hidden {
   opacity: 0;
}

.c--click {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #121212;
}
.cursor {
  pointer-events: none;
  transition: all 100ms ease;
  transition-property: opacity, background-color, transform;
}  */

@keyframes SlideIn {
  0% {
  
    opacity:1;
  }



  100% {
    translate: 0;
    opacity: 1;
    rotate:0deg;
    animation-timing-function: ease-in-out;
    position: relative;
  }
}


@keyframes slideBack {
  0% {
    translate:0;
    opacity:1;
  }



  100% {
    translate: -50%;
    opacity: 1;
    rotate:0deg;
    animation-timing-function: ease-in-out;
    position: relative;
  }
}



.swiper-initialized {
width:100%;
}

.swiper-slide, .swiper-slide {
  transition:0s;
}

.Typist .Cursor {
  animation:blinking 1s infinite;
}



.fp-responsive .fp-auto-height-responsive .fp-slide, 
.fp-responsive .fp-auto-height-responsive .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section {
    height: auto!important;
}





.container_2 {
  width: 60px;
  height: 66px;
  position: absolute;
  bottom: 120px;
  margin: auto;
  left: 0;
  right: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3s;
  opacity: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #589fd5;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}



a {
  text-decoration: none;
}

p, a  {
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
}

h1, h2  {
font-family: nobel, sans-serif;
font-weight: 700;
}

.close {
  display:none;
}

.path {
  animation: dash 3s  forwards ; 
}

.path-top-left {
  animation: dash2 3s  forwards ; 
  stroke-dasharray: 100;
}

.path-bottom-right {
  animation: dash2 3s  forwards ; 
  stroke-dasharray: 100;
}

@keyframes dash2 {
  0% {
    stroke-dashoffset: 100;
  }

  100% {
    stroke-dashoffset: 50;
  }

}

@keyframes dash {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
  }


  100% {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
  }

}

.container_full_width {width:100% !important;}

.membership_column, .membership_row {
  height:100% !important
}

.service div:nth-child(1) img {
  width: auto;
  height: 100%;
  right: 0px;
}

.service div:nth-child(3) img {
  width: auto;
  height: 100%;
  left: 20px;
}



.container {
  display: flex;
  max-width: 1600px;
  width: auto;
  position: relative;
  padding-left:50px;
  padding-right:50px;
  margin:auto;
  align-items: center;
    justify-content: space-around;
}

.services_section {
display:flex;
}

.container_full_width {
  max-width: 1600px;
  width: auto;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;


  height: calc(100% - 60px);

}
.fp-watermark {display:none;}

.second_wrapper, .icons_wrapper, .heart_wrapper, .agency_wrapper, .content_wrapper {
  height: calc(100% - 60px);
  margin-top:60px;
}

.heart_wrapper, .content_wrapper {
  max-width:1600px;
}


.lines { position:absolute; left:20px; bottom:20px; height:calc(100% - 40px); width:calc(100vw - 40px)}
.lines .top-left {left:20px; top:20px; height:calc(50vh - 40px); width:calc(50vw - 40px); stroke-dashoffset: 100;}
.lines .bottom-right {bottom:20px; right:20px; height:calc(50vh - 40px); width:calc(50vw - 40px); stroke-dashoffset: 100;}

.lines polygon {
  stroke: #4d94c3;
  /* vector-effect: non-scaling-stroke non-rotation; */
}

.lines .path {
  stroke-width:.5;
}

.lines .path-bottom-right, .lines .path-top-left {
  stroke-width:1;
}

.lines svg {
  position:absolute;
}

.top_section {
  position:relative;
  height:100% ;
  width:100vw;
  top:0;
}

.button_wrapper {
  padding-top:20px;
  display:flex;
  width:100%;
  justify-content: center;
  width: 100%;
}

.button_wrapper p  {
  font-size:44px;
  margin:0px;
  font-family:'EuroStyle-condensed',sans-serif;
  font-weight:800;
  letter-spacing:10px;
  color:#6B9ED0;
  white-space: nowrap;
}

.downArrow {
  position: absolute;
  background: transparent;
  width: 60px;
  margin:auto;
  left:0;
  right:0;
  bottom:20px;
  animation:bounce 1s infinite
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-20px);} 
  60% {transform: translateY(-10px);} 
} 

.x0 {
  font-weight: 400;
    color: #4b83c1;
}

.downArrow svg {
  fill: #589fd5;
}


.button_wrapper a  {
  padding: 5px;
  padding-top: 10px;
  flex-grow:1;
  color: #4d94c3;
  margin: 5px;
  text-align:center;
  animation:fadeIn 1s forwards;
  opacity:0;
  animation-delay:.2s;
  width:50%;

}

.button {
  padding:5px;
  padding-top:10px;
  border: 1px solid #4d94c3;
  color:#4d94c3;
  transition:.2s;
  background:transparent;
  border-radius:10px; 
  letter-spacing: 2px;
}

.apply {
  font-size:30px;
  padding:10px;
  text-align:center;
  min-width:500px;
  padding-left:40px;
  padding-right:40px;
}

.button:hover {
  background:#293a8d;
  color:white;
  border: 1px solid white;
  letter-spacing: 4px;
}

.top_content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width:600px;
  padding:10px;
}

.top_content .logo {
  width:220px;
  margin-bottom:20px;
  animation:fadeIn 2s;
  aspect-ratio: attr(width) / attr(height);
}

.top_content .wordmark {
  aspect-ratio: attr(width) / attr(height);
  height:auto;
  animation:fadeIn 1s;
  transition:1s;
}

.active-bar .wordmark {margin-left:10px;}


.second_content {
  align-self: center;
  width: 50%;
  transition:2s;
  opacity:0;
}

.active .second_content {
  animation: fadeIn 2s forwards;
  animation-delay: .4s;
 
}



.second_content h2 {
  color:#293a8d;
  font-size:70px;
  line-height:1;
  margin-bottom:0px;
}
.second_content p {
  color:#293a8d;
  font-size: 40px;
    max-width: 700px;
}

.table_animation {
  align-self: center;
  
}

.heart_content {
  align-self: center;
  width: 50%;
  transition:2s;
  opacity:0;
  padding-left:10px;
}

.about2_content {
  color: #293a8d;
    font-size: 28px;
    max-width: 700px;
}
.about2_content p {
  min-height:500px;
}

.about2_content h2 {
  color:#293a8d;
  font-size:65px;
  line-height:1;
  margin-bottom:20px;
}

.heart_content h2 {
  color:#293a8d;
  font-size:70px;
  line-height:1;
  margin-bottom:20px;
}

.heart_content p {
  color:#293a8d;
  font-size: 40px;
    max-width: 700px;
    min-height: 246px;

}

.active .heart_content {
  animation: fadeIn 2s forwards;
  animation-delay: .4s;
}



.fifth_content {
  position:absolute; 
  bottom:-10vh; 
  left:50px;
  transition:2s;
opacity:0;
z-index:2;}

.contact_card {
  width: 350px;
  height:550px;
    margin: auto;
    padding: 10px;
    z-index: 1;
    display: block;
    position: relative;
    border-radius: 17px;
    background: white;
    position:absolute;
 display:block;
 left:-750px;
 transform:rotate(-60deg)
}


.contact_card .form {
  padding: 15px;
    border: 7px double #4f95c4;
    border-radius: 17px;
    height: calc(100% - 45px);
}

.contact_card:before {
  content:'';
  width:35px;
  height:35px;
  position:absolute;
  top:0px;
  left:0px;
  background:white;
  border-radius:100%;
  background-image:url('../public/images/logo.webp');
  background-size: 25px 25px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact_card:after {
  content:'';
  width:35px;
  height:35px;
  position:absolute;
  bottom:0px;
  right:0px;
  background:white;
  border-radius:100%;
  background-image:url('../public/images/logo.webp');
  background-size: 25px 25px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    transform:rotate(180deg)
}

.active .contact_card, .contact_fixed .contact_card {
  left:-750px;
  animation:contact_card 1s forwards;
}

@keyframes contact_card {
  0% { 
    left:-750px;
    top:0px;
    transform:rotate(-60deg)
  }
  100% { 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.project_wrapper {
  height: 100%;
}

.project_item .image {
  width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center center;
    position:absolute;
    top:0;
    left:0;
}

.project_content {
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  height:100%;
}

.card-inner img {
  width:210px;
  height:210px;
  margin:auto;
}

.project_item {
  width:100%;
  max-width:320px;
  position:relative;
  margin:auto;
  margin-top:0px;
}
.active.section .swiper-slide {
  animation:SlideIn .6s forwards;
}

.section:not(.active) .swiper-slide:nth-child(n + 2)  {
  animation:slideBack .3s;
  animation-delay:0s !important;
}

.project_item .project-card {
  border: 10px solid white;
  border-radius:20px;
  position:relative;
  overflow:hidden;
  min-height:300px;
  padding-top:50%;
  display:flex;
  justify-content: flex-end;
    align-items: flex-end;
    box-shadow: black 8px 8px 21px;
    width: calc(100% - 20px);
transition:.2s;
margin:auto;
  }

  .project_item:hover .project-card {
    scale:1.05;
  }

.project-slider {
  display: flex;
    width: 100%;
    justify-content: space-around;
}

.project_item .card-inner {
  width: 100%;
  position:relative;
  height: 50%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0.8241421568627451) 53%, rgba(255,255,255,0.6280637254901961) 80%, rgba(255,255,255,0) 100%);
flex-direction: column;
margin-top: auto;
margin-bottom: 0px;
}
.project_title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_title h3 {
  font-size:40px;
  color:white;
}
.project_item .title {
  text-align: center;
  color:white;

}

.heart_section {
height:100%
}

.section.active .project_item .title {
  animation:fadeIn 1s forwards;
  opacity:0;
  animation-delay:.8s;
}

.project_item .title h3 {
 margin:0px;
 margin-top:30px;
  font-family: 'EuroStyle', sans-serif;
  padding-bottom: 3px;
 

  bottom: 0px;
  font-size: 30px;
}


.project_text {
  flex-grow: 1;
    height: 100%;
}

.icons_section, .agency_section, .services_section, .project_section {
  height: calc(100% - 60px);
  width:100%;
  background-color:#293a8d;
  background-image:url('../public/images/back-blue.png');
  margin-top:60px;
}


.services_section .column {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ui.form textarea {
  width:80% !important;
}

.icons_content, .agency_content {
  width:100%;
  align-self: flex-end;
  margin-bottom: 10vh;
  max-width:890px;
}

.agency_content p {
  min-height: 150px;
}

.active .icons_content {
  opacity:0;
  animation:fadeIn forwards 2s;
}

.active .membership_content {
  opacity:0;
  animation:fadeIn forwards 2s;
}

.fadeIn {
  animation:fadeIn 1s forwards;
}

.icons_content h2, .agency_content h2 {
  color:white;
  font-size:70px;
  line-height:1;
  margin-bottom:0px;
}

.icons_content p, .agency_content p {
  color:white;
  font-size:30px
}

.icons_content p {
  min-height: 135px;
}

.active .icons_content h2 {
  opacity:0;
  animation: fadeIn 1.5s forwards
}

.active .agency_content h2 {
  opacity:0;
  animation: fadeIn 1.5s forwards
}

.active .fifth_content {
  animation:fadeIn 2s forwards;
  animation-delay:.4s;
  max-width:720px;
  bottom:10vh; 
}

.fifth_content h2 {
  color:#293a8d;
  font-size:50px;
  line-height:1;
  margin-bottom:0px;
}
.fifth_content p {
  color:black;
  font-size:25px
}

.membership_wrapper img {
  margin:auto;
  display:block;
}


.membership_content h2 {
  color: #293a8d;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 0px;
}
.membership_content p {
  color: #293a8d;
  font-size: 40px;
  max-width: 900px;
  min-height: 246px;
 }

.membership_content {
  max-width: 900px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.animation-back {
  display: block;
  width:100vw;
  height:100%;
  overflow: hidden;
  background-image:url('../public/images/back.png');
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  display:block;
  animation: back-animation 505s infinite;
}


.animation-back.white {
  background-image:unset;
  background-color:wjite;
}




.second_section, .icons_section, .projects_section, .agency_section {
  height:100%;
    display: block;
    width:100vw;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    display:block;
}

body {display: block; position:relative}

.animation-back img {
  width:70px;
  height:auto;
  position:absolute;
  background:white;
  border-radius:100%;
  padding:10px
}



img.logo-top {
  top:-20px;
  left:-20px;
  animation:rotate 3s forwards;
}
img.logo-bottom {
  bottom:-20px;
  right:-20px;
  animation:rotate2 3s forwards;
  overflow:hidden;

}

@keyframes rotate {
  0% {transform:rotate(0deg)}
  100% {transform:rotate(360deg)}
}


@keyframes rotate2 {
  0% {transform:rotate(180deg)}
  100% {transform:rotate(540deg)}
}

.glimmer {
  background: rgb(255,255,255);
  background: linear-gradient(131deg, rgba(255,255,255,1) 4%, rgb(255 255 255 / 55%) 16%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 55%, rgb(255 255 255 / 66%) 79%, rgba(255,255,255,1) 94%);  height:100%;
  width:100vw;
}

.mobile_icon {display:none;}

.menu {
  position: fixed;
  height: 60px;
  width: 100%;
  background: white;
  z-index: 0;
  top:-60px;
  transition:.5s;
}
.menu.even {
  background: #2a3b8d;
}

.top-content.even .wordmark {
  filter: brightness(11) grayscale(1);
}

.menu_active {
  top:0px;
  z-index:1;
}

.active-bar {
  position:fixed !important;
  animation: move_up .5s forwards
}

.active-bar  {
  transition:1s;
}

.active-bar .wordmark {
animation: shorten .5s forwards !important;
}

.active-bar .logo {
  animation: logo_shorten .8s forwards !important;
}

.active-bar .button_wrapper {
 display:none;
}



@keyframes move_up {
  0% {top:50%; left:50%;}
  100% {top:30px; left:140px; height:60px}
}

@keyframes shorten {
  0% {width:600px;}
  100% {width:200px; }
}

@keyframes logo_shorten {
  0% {width:230px; transform:rotate(0deg)}
  100% {width:40px; height:auto; margin-bottom:0px; transform:rotate(360deg); }
}

@keyframes buttons_move {
  0% {top:-200px; opacity:0;}
  100% {   top: -56px;
    left: 345px; opacity:1;}
}

.city_animation {
  position: relative;
  margin-left: auto;
  z-index: 1;
  z-index:0;
}

.second_section {
  height:100%;
}

.white_background .animation-back{
  height:calc(100% - 60px);
  top:60px;
}

.white_background .lines {
  height: calc(100% - 60px);
}


.contact_fixed {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100vw;
  z-index: 2;
}

.contact_back {
  height:100%;
  width:100vw;
  position:absolute;
  animation:slideInRight .5s forwards;
  background:black;
  opacity:.8;
}

@keyframes slideInRight {
  0%{
    right:-100vw
  }
  100%{
    right:0vw
  }
}

.cross-out {
  position:absolute;
  width:500px;
  height:500px;
  right:0px;
  top:100px;
}

.cross-out img {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); max-width: 270px;}

.active .no-way {
  animation:rotate3 2s forwards;
}

.active .white-logo {
  animation:rotate3 1s forwards;
  animation-direction: reverse;
  
}

@keyframes rotate3 {
  0% {
    transform:translate(-50%,-50%) rotate(0deg)
  }
  100% {
    transform:translate(-50%,-50%) rotate(360deg)
  }
}

.icons {
  margin-top: -100px;
  display: block;
  position: relative;
  margin-right: 0px;
  margin-left: auto;
}


.icons > div {height:100px; width:100px; position:absolute;}
.icons > div > img {width:100%; height:100%;}
.active .icons > div {
  animation:pop .3s forwards;
  opacity:0;
}


.icons > div:nth-child(-n+4) {right:50px;}

.icons > div:nth-child(n+5):nth-child(-n+7) {right:200px;}
.icons > div:nth-child(n+8):nth-child(-n+9) {right:340px;}
.icons > div:last-child {right:460px;}

.icons > div::after {
content:'';
width:0px;
height: 5px;
background:#4d94c3;
position:absolute;
right: 90px;
top:0;
display: block;
top:40px;
transform-origin: right;
z-index: -1;
}

.active .icons > div:after {
  animation: line 2s forwards;
  animation-delay:1s;
}

.icons > div:nth-child(even)::after {
transform:rotate(30deg);
}

.icons > div:nth-child(odd)::after {
  transform:rotate(-30deg);
  }

  .icons > div:nth-child(7)::after {
    transform:rotate(30deg);
  }

  .icons > div:nth-child(8)::after {
    transform:rotate(-30deg);
  }

  .icons > div:nth-child(9)::after {
    transform:rotate(30deg);
  }

  .icons > div:nth-child(10)::after {
    content:none;
  }


  @keyframes line {
    0% { width:0px;}
    100% {width:120px;}

  }

@keyframes pop {
  0% {
    transform:scale(0)
  }
  1% { opacity:1;}
  70% {
    transform:scale(1.3);
    opacity:1;
  }
  100% {
    transform:scale(1);
    opacity:1;

  }
}


.service_wrap {
  width:25%;
   flex:1; 
   padding:10px}

   .service_anchor {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     z-index:3;
   }
   
.services {
  height:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.service_modal {display:none;}

.service_modal {
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.service_modal .overlay {
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background:black;
}

.service_content H2 {
  color:white;
  margin-top:5px;
  font-size:40px;
  letter-spacing: 5px;
  text-align: center;
  width:100%;
  display: block;
 padding-top:0px;
  margin-bottom:0px;
  transition:.3s;
}

.service_content {
  background: #293a8d;
  border-top: #329ec7 2px solid;
  border-bottom: #329ec7 2px solid;
  position: relative;
  z-index:2;
}


.service_content  img {
  display: block;
  z-index: 1;
  position:relative;
}

.service div:nth-child(1) img {
 margin-bottom: -50px;
}

.service div:nth-child(3) img {
  margin-top: -50px;
  transform:rotate(180deg)
}

.service {
  display: flex;
  flex-direction: column;
}




@media only screen and (min-width:800px) {



  .service_anchor {display:none;}

.service:hover .service_content {height:350px;  }

.service:hover .button { display:block; color:white; border-color:white; width:100%; text-align:center;}

.service:hover h2 {padding-top:20px;}
.service_content p {
  padding:10px; 
  color:white;
  font-size:16px
}

.table_animation, .city_animation {max-width:50%;}

}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.service_content .button {
  position: absolute;
  bottom: 20px;
  display:none; animation:fadeIn 2s forwards
}

.service_content { 
  overflow:hidden; 
  height:55px; 
  transition:1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.service > div {flex-grow: 100%;}

.service img {max-height:270px;}

.breadcrumbs {
  position: fixed;
  top: 0px;
  right: 20px;
  /* background: red; */
  width: 300px;
  /* height: 100px; */
  z-index: 3;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.fp-viewing-first .breadcrumbs {display:none;}

.breadcrumbs li {opacity:.4; transform:scale(.8); transition:.2s;}
.breadcrumbs li.active {opacity:1; transform:scale(1); }

.mobile_menu {
  width:50%;
  height:100%;
  position:fixed;
  top:0;
  right:0;
  background:black;
}

.heart_wrapper .video {
  width:50%;
}
video {max-width:100%;}


@media  (max-width:768px) {
  .button_wrapper p  {
    font-size:20px;
  letter-spacing:5px;}

  .container_2 {
    bottom:1vh;
  }
  .services_section .container_2 {
    display: none;
  }
}

.project_item > a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}

