@media only screen and (max-width: 800px) {


  .contact_card {
    width: calc(100% - 32px);
      height: auto;
  }


  .service_wrap.active .service div:nth-child(3) img {
    display:none;
  }

  .service_wrap  .service div:nth-child(3) img {
    animation:fadeIn 1s forwards;
  }

  .service div img {
    max-width:200px;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1}
  }

  .project_title h3 {font-size:30px; margin-top:10px;}
  .project_item {    
    max-width: 275px;
    min-height: calc(25% - 35px);
  }

    .project_item .title h3 {font-size:30px;}
  .services {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    
  }

  .mobile_icon {
    display: none !important;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 65px;
    padding: 10px;
  }


  .close {display:block;}

  .service_wrap.active .service_text {color:white; line-height:1.3}

  .service_wrap.active .service div:nth-child(1) img {
    margin-bottom:0px;
    top: 0;
    max-height: 45%;
    margin: auto;
    left: 0;
    height:auto;
    right: 0;
  }

  .service_wrap.active .service_content {
    position: absolute;
    height: auto;
    background: transparent;
    border: unset;
    bottom: 0px;
    padding: 10px;
    background: rgb(41,58,141);
  background: linear-gradient(0deg, rgba(41,58,141,1) 63%, rgba(41,58,141,0.8379726890756303) 78%, rgba(41,58,141,0.4990371148459384) 89%, rgba(41,58,141,0.08167016806722693) 96%, rgba(41,58,141,0) 100%);
  }

  .active-bar {
    margin-top:0px;
  }

  .service_content h2 {
    text-align: left;
    margin-left: 20px;
  }

  

  .close {
    width: 50px;
    height: 50px;
    background: #329ec7;
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 3;
    color: #293a8d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

.breadcrumbs {
  display:none;
}

.even .mobile_icon svg {
  fill:white;
}
.service_section > div > .grid, .service_section > div > .column {height:100% !important;}

.service_wrap {height:100%; width:100%; transition:.4s; position:relative;}
.service_modal {display:block;}
  .service {
 
    overflow: hidden;
    position: relative;
    border: 2px solid #329ec7;;
    height:100%;
  }

  .service_wrap.active {
    flex:13;
  }


  .service_modal .overlay {
    z-index:0;
  }

  .service_content {
    position: absolute;
    bottom: -2px;
    height: 30px;
    left: 0;
    border-top: unset;
    background: transparent;
  }

  .service_wrap {
    padding:5px;
  }
  
  .service_content h2 {
    font-size: 23px;
  }

  .membership_wrapper {
    padding-left:10px;
    padding-right:10px;
  }

  .service img {position:absolute !important;}
  
  .container {
    padding:10px;
    height:calc(100% - 60px);
  margin-top: 60px;
  }

  .top_content .wordmark {
    width:100%;
}
.top_content {
    max-width: 300px;;
}

.button_wrapper {
    max-width:275px;
    display: flex;
justify-content: center;
align-items: center;
}


.second_content, .heart_content {
width:100%;
margin-bottom:0px;
}


.table_animation {
  margin-top:0px;
  max-width:600px;
}

.second_wrapper, .heart_wrapper {
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.content_wrapper {
  flex-direction: column;
  justify-content: space-evenly;
}

.second_content h2, .icons_content h2, .heart_content h2,.about2_content h2 {
    font-size: 36px;
}
.second_content span, .icons_content span {display:none;}

.second_content p, .heart_content p {
    font-size: 25px;
    min-height:150px;
}

.about2_content p {
  font-size:20px;
  min-height:210px;
}

.icons_content {
margin-bottom:0px;
align-self: flex-start;
}
.icons_content p {
  font-size:18px;
}
.apply {
  font-size: 20px;
  padding-left: 20px;
    padding-right: 20px;
}


.white_background .lines {display:none}

.active-bar .button_wrapper a {
    opacity: 1 !important;
    animation: none !Important;
    font-size: 10px;
    margin: 2px;
    max-width: 160px;
    line-height: 1.3;
}

.active-bar .button_wrapper {
    padding-top:5px;
    display:none;
}

.active-bar .button_wrapper {
    flex-wrap: wrap;
}


.button_wrapper a {
  padding: 3px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
@keyframes shorten {
    0% {width:300px;  filter: brightness(11) grayscale(1);}
    100% {width:100px;}
  }

  @keyframes move_up {
    0% {top:50%; left:50%;}
    100% {top:30px; left:80px; height:60px}
  }

  @keyframes logo_shorten {
    0% {width:120px; transform:rotate(0deg); height:auto;}
    100% {width:30px; margin-bottom:0px; transform:rotate(360deg); height:auto;}
  }

  @keyframes buttons_move {
    0% {top:-200px; opacity:0;}
    100% {   top: -45px;
      left: 220px; opacity:1;}
  }

 
  .third_content h2 {
      font-size:30px;
  }

  .third_content p {
    font-size:16px;
}


  .active .third_content {
    max-width: calc(100vw - 60px);
    bottom: 25vh;
    /* left: 40px; */
    margin: auto;
    left: 0;
    right: 0;
  }

  .icons > div {
    height: 50px;
    width: 50px;
  }

  @keyframes line {
    0% { width:0px;}
    100% {width:60px;}
  }

    @keyframes line {
    0% { width:0px;}
    100% {width:80px;}
  }

  .icons > div::after {
      top:25px;
      right:40px;
  }

  .icons > div:nth-child(n+5):nth-child(-n+7) {right:140px;}
  .icons > div:nth-child(n+8):nth-child(-n+9) {right:230px;}
  .icons > div:last-child {right: 320px;}

  .icons {
    width: 400px;
    height: 600px;
    position: absolute;
    bottom: -160px;
    /* right: -119px; */
    transform: rotate( 
90deg
 );
    right: -40px;
  }

  .third_section .lines .top-left {
    left: 10px;
    top: 10px;
  }

  .third_section .lines .bottom-right {
    right: 10px;
    bottom: 10px;
  }

  .static-bar {
    padding: 15px;
    padding-left: 11px;
  }

  .static-bar .logo {
    width:30px;
  }

  .static-bar .wordmark {
    width:100px;
  }

  .active .fifth_content {
    bottom: unset;
    top: 20vh;
    max-width: calc(100vw - 60px);
    margin: auto;
    display: block;
    margin:auto;
    position: relative;
    left:unset;
  }

  .third_section_container {
    max-width: 1200px;
    margin: auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

  
  .active .fifth_content {
    animation:fadeIn 2s forwards;
  }

  .third_section .lines {
    height: calc(100% - 80px);
}

  .lines {
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: calc(100% - 20px);
    width: calc(100vw - 20px);
}
  
  
  .fifth_content h2 {
    color:#4381ab;
    font-size:28px;
    line-height:1;
    margin-bottom:0px;

  }
  .fifth_content p {
    color:black;
    font-size:16px
  }

  .cross-out {
      top:-30px;
      width: 100%;
  }



}


@media only screen and (max-width: 1200px) and (min-width:800px) {

  .service_content H2 {
    font-size:25px;
  }

  .service_content {
    height:36px;
  }
  

}

@media only screen and (max-width: 800px) and (min-width:700px) {

  .service_content h2 {
    font-size:40px;
    text-align:center;
  }

.service {
  min-height: 72px;
}

  .service_content {
    height:40px;
    bottom:40%;
    border-bottom:unset;
  }
  
  .service_wrap.active .service_text {
    font-size:25px;
    line-height:1.3 !Important;
  }

}

@media only screen and (max-width: 1024px) and (min-width:799px) {


  .service_wrap {
    width:45%;
    flex:unset;
  }

  .services {
    flex-wrap:wrap;
  }

.heart_content h2, .second_content h2 {
  font-size:40px;
  margin-bottom:30px;
}

.heart_content, .second_content {
  padding-left:10px;
}

.heart_content p, .second_content p {
  font-size:30px;
}

.city_animation {
  width:80%;
  margin:auto;
}

.table_animation {
  width:55%;
}

.service:hover .service_content {
  height:350px;
}


.service div:nth-child(3) img {
  display:none;
}


}

@media only screen and (max-width: 400px) {

  .second_content h2, .icons_content h2, .heart_content h2 {
    font-size:23px;
  }

  .second_content p, .heart_content p {
    font-size:18px;
  }

  .table_animation, .city_animation {
    max-width:75vw;
  }

  .contact_card {
    width: calc(100% - 78px);
    height: calc(100% - 115px);
    margin-top: 30px;
}



}