.project-details .row {
justify-content: center;
align-items: center;
}
.project-details .row:nth-child(odd) {
flex-direction: row-reverse;
}

.project-details img {
    display: block;
    width: 100%;
}


.multiple-images {
    display:flex !important;
    gap:20px;
}

@media (max-width: 768px) {
    /* CSS rules to apply for screens up to 768 pixels wide */
    .multiple-images {
    flex-wrap:wrap;
    }
  }
  
  .proj-header {
    min-height: 60dvh;
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
    background-color:black;
  }

  // .proj-header:before {
  //   content:'';
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   height:100%;
  //   background:rgba(0, 0, 0, 0.685);
  //   z-index:0;
  // }

    
  .proj-header h1 {
    display:block;
    position:relative;
    color:white;
    font-size:80px;
    display:none;
  }
.max-it {
  max-width:800px;
  margin:auto;
}



.project-details .section h3 {
  font-size:70px;
  font-weight:600;
  font-variant: all-petite-caps;
  color:var(--blue-two);
  margin-bottom:10px;
  line-height:1;
}

.project-details .section p {
font-size: 20px;
font-family: eurostile, sans-serif;
letter-spacing: 1.5px;
font-weight:400;
line-height:1.5;
}



.proj-header video {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

  // mobile beings

  @media only screen and (max-width: 800px) {


    .proj-header h1 {
      text-align:center;
      font-size:50px;
      line-height:1;
    }
    .proj-header {
      min-height:auto;
    }

    .proj-header video {
      position: relative;
      left: 0%;
      top: 50%;
      translate: unset;
    }

    
  }


  .project-details .row {
    padding-top:20px;
  }

  .multiple-images img {
    flex: 0 0 auto; 
    width: auto;
    height: 100%; 
    object-fit: contain;
    max-width:50%;
  }
  .project-content {
    overflow:hidden;
  }
  

  .project-url {
    
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background: var(--blue);

  }

  .project-url a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 22px;
    color: black;
    height: 100%;
  }

  .project-url img {
    max-width: 50px;
    margin-left:10px;
    margin-right:10px;
  }



  .project_item:hover .card-stack > div {
    filter: drop-shadow(2px 4px 6px black);
  }

  .card-stack > div {
    width:100%;
    height:100%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    top: 0;
    margin: auto;
    z-index:-1;
    transition:.3s;
}
  

  .project_item:after {
    transition:.3s;
  } 


  

  .project_item:hover:after {
   top:30px;
   rotate:5deg;
  }


  .project_item .title {
  margin-top:0px;
  transition:.2s;
  }
  .project_item:hover .title {
    margin-top:-80px;
  }

  .card-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    scale: 0.95;
  }



  .project_item:hover .card-stack > div:first-child {
    top:-30px;
    rotate:-12deg;
   }

   .project_item:hover .card-stack > div:nth-child(2) {
    top:30px;
    rotate:12deg;
   }